<h1> <%= I18n.t('test_passages.result.header', title: @test_passage.test.title) %></h1>
<% if @test_passage.passed %>
 <p id="success">
  You successfully passed this test <%=@test_passage.percent_result%>%
 </p>
<% else %>
  <p id="fail">
    You failed this test <%=@test_passage.percent_result%>%
  </p>
<% end %>