<% if record.present? && record.errors.any? %>
  <%= content_tag :div, class: 'record-errors', data: {record_id: record.id} do %>
    <h2>

      <%= t('.header', count: record.errors.count) %>
    </h2>

    <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>