<footer class="navbar">
  <p class="nav-text"> Шемякин Алексей, <%= current_year %></p>
  <span class="nav-text content-align-right">
    Source: <%= github_url('novill', 'testguru')%>
    <a href="http://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a></p>
  </span>
</footer>
