<div>
  <p> Current year: <%= current_year %></p>
  <p>Author: Шемякин Алексей</p>
  <p>Source: <a href ="<%= github_url('novill', 'testguru')%>" target="_black">Test guru</a></p>
  <p><a href="http://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a></p>

</div>